body{
    background-color: rgb(233, 217, 217);
}

#titulo_cadastro{
    margin: 0 auto;
    margin-bottom: 30px;
}

#formulario{
    
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}

fieldset{
    background-color: rgb(199, 146, 146);
    width: 600px;
    border-radius: 10px;
    
}

fieldset input, select{
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(226, 212, 212);
    box-shadow: 2px 2px 2px solid rgb(156, 156, 156);
    padding: 1% 2% 1% 2%;
    border-bottom-right-radius: 5px;
}

select{
    height: 40px;
    width: 60%;
}

fieldset label, button{
    font-size: 15px;
}

fieldset label, input, select{
    display: block;
    width: 95%; 
}



fieldset button {
    display: block;
    margin: 15px auto;
    width: 75%;
    height: 50px;
    background-color: rgb(129, 45, 45);
    font-size: 20px;
    cursor: pointer;
}

#entrar{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#entrar p, #entrar a{
    font-size: 20px;
}

#entrar p{
    margin: 15px 0 5px 0;
}

#entrar a{
    margin-top: 0;
    text-decoration: none;
    color: rgb(129, 41, 41);
    margin-bottom: 50px;
}





@media only screen and (min-width: 855px){
    .nome, .senha, .dados_imp1, .dados_imp2{
        display: inline;
        width: 48%;
        margin-right: 2%;
        float: left;
    }

    #email{
        width: 96.7%;
    }

    #sexo{
        width: 100%;
    }

    .cep_endereco, .detalhamento_endereco, .cidade_estado{
        width: 48%;
        margin-right: 2%;
        display: inline;
        float: left;
    }
    .detalhamento_endereco{
        width: 31.3%;
        margin-right: 2%;
    }

    #estado{
        width: 100%;
    }
}

@media only screen and (max-width:855px) {
    fieldset{
        display: block;
    }

    select{
        width: 100%;
    }
}

@media only screen and (max-width: 729px){
    fieldset{
        margin: 0 auto;
        display: block;
        width: 90%
    }
    

    select{
        width: 100%;
    }
}