body{
    height: 900px;
    background-color: yellowgreen
}

#formulario{
    margin-top: 50px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    background-color: aqua;
}

fieldset{
    width: 500px;
}



fieldset #nome label, #email label{
    display: block;
}

fieldset button{
    margin-top: 50px;
    background-color: red;
    width: 400px;
    display: block;
    margin: 0 auto;
}

