body{   
    background-color: rgb(233, 217, 217);
}

#formulario{
    
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
    
    
    /*background-color: #e1e1e1; 
                width: 400px; 
                height: 150px; 
                left: 50%; 
                margin: -130px 0 0 -210px; 
                padding:10px;
                position: absolute; 
                top: 50%; */
}

fieldset{
    background-color: rgb(199, 146, 146);
    width: 300px;
    border-radius: 10px;
}

fieldset input{
    height: 30px;
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(226, 212, 212);
    box-shadow: 2px 2px 2px solid rgb(156, 156, 156);
    padding: 1% 2% 1% 2%;
    border-bottom-right-radius: 5px;
}

fieldset label, button{
    font-size: 20px
}

fieldset label, input{
    display: block;
    margin-top: 15px;
    width: 95%;
}




fieldset button {
    display: block;
    margin: 15px auto;
    width: 50%;
    height: 50px;
    background-color: rgb(129, 45, 45);
    cursor: pointer;
}

#cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cadastro a{
    margin-top: 0;
}




/*fieldset #nome #email{
    display: block;
    width: 95%;
    margin-top: 15px;
    font-size: 20px;
}

fieldset button{
    background-color: rgb(73, 11, 11);
    width: 95%;
    margin-top: 250px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-left: 0;
}*/

