h1{
    margin-bottom: 50px;
}

#compra button{
    font-size: 24px;
}

@media only screen and (max-width: 600px){
    #img_princ img{
        display: block;
        margin: 0 auto;
    }

    .img_sec{
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .img_sec img {
        height: 75px;
        width: 75px;
    }

    #img_princ img{
        height: 200px;
        width: 300px;
    }

    #compra button{
        width: 100%;
        box-sizing: border-box;
        height: 80px;

        background-color: red;
        cursor: pointer;
    }
}

@media only screen and (min-width: 601px){

    #produto_e_compra{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        justify-content: space-between;
        align-items: center;
        gap: 500px;
    }

    #produto{
        display: grid;
        gap: 0;
        grid-template-columns: 1fr 1fr ;
    }

    .img_sec{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        
        grid-column: 1/2;
        justify-content: space-between;
        align-items: center;
        width: 75px
    }
    
    .img_sec img {
        height: 75px;
        width: 75px;
    }


    #img_princ img{
        height: 500px;
        width: 120%;
        margin-left: 0;
    }

    #compra{
        width: 400px;
        box-sizing: border-box;
    }

    #compra button{
        width: 100%;
        box-sizing: border-box;
        height: 80px;

        background-color: red;
        cursor: pointer;
    }

    #frete{
        margin-bottom: 20px;
    }

    main{
        padding-bottom: 50px;
        padding-left: 50px;
    }

}