body,html{
    margin: 0;
}

header{
    background-color: rgb(235, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 20px;
}

#opcoes_header a{
    color: white;
    text-decoration: none;
}

#logo{
    display: block;
    margin: auto;
}

#logo img{
    width: 200px;
    height: 75px;  
}

#meu_perfil_icon{
    text-decoration: none;
    color: black;
}

#pesquisa_perfil_carrinho{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

#pesquisa_perfil_carrinho span{
    font-size: 30px;
}

.material-symbols-outlined{
    cursor: pointer;
}

main{
    padding-bottom: 50px;
    background-color: rgb(233, 217, 217);
}

#img_carrosel{
    display: block;
    margin: 0 auto;
}


.produtos_sections{
    margin-bottom: 50px;
}

#produtos a{
    text-decoration: none;
    color: black;
}

.item_espec{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.item_espec img{
    height: 300px;
    width: 220px;
}

.item_espec h2{
    color: rgb(201, 21, 21);
}

#newsletter{
    margin-top: 50px;
}

#newsletter button{
    background-color: rgb(129, 45, 45);
    cursor: pointer;
}

footer {
    background-color: rgb(201, 21, 21);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.footer_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    gap: 15px;
}

#institucional a, #contatos a{
    display: block;
    text-decoration: none;
    color: black;
}

.logo_contatos{
    height: 24px;
    width: 24px;
}

.logo_redes{
    height: 36px;
    width: 36px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

#whats, #fone{
    display: flex;
    align-items: center;
}



#meios_pagamento img{
    height: 30px;
    width: 90px;
}


@media only screen and (max-width: 753px){


    #opcoes_header{
        font-size: 16px;
        display: flex;
        gap: 20px;
        margin-left: 10px;
    }


    #pesq_input{
        display: none;
    }

    #pesquisa{
        margin-right: -15px;
        margin-left: 10px;
    }

    .container-slider {
        display: flex;
        width: 100%;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
      
      .container-images {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
      }
      
      .slider {
        opacity: 0;
        transition: opacity .2s;
        position: absolute;
        width: 100%;
        border-radius: 10px;
      }
      
      .on {
        opacity: 1;
      }
      
      #prev-button, #next-button {
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      
      #prev-button img, #next-button img {
        width: 100%;
        height: 100%;
      }
    

    
    main{
        padding-top: 50px;
        padding-left: 10px;
    }

    #img_carrossel img{
        height: 150px;
        width: 250px;
    }
    
    #produtos{
        margin-left: 10px;
    }
    
    
    #produtos a{
        text-decoration: none;
    }
    
    .itens{
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    

    #newsletter h2, input, button{
        display: block
    }

    #newsletter input, button{
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }

    

}



@media only screen and (min-width: 754px){
    
    
    #opcoes_header{
        display: flex;
        gap: 20px;
        margin-left: 50px; 
    }
    
    
    
    #pesquisa_perfil_carrinho{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 50px;
    }
    
    #pesquisa{
        display: flex;
        align-items: center;
        padding: 3px;
        background-color: rgb(230, 229, 229);
        border-radius: 15px;
    }

    
    #pesquisa input{
        width: 250px;
        height: 20px;   
        background-color: transparent;
        border: none;
    }

    .container-slider {
        display: flex;
        width: 100%;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
      
      .container-images {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
      }
      
      .slider {
        opacity: 0;
        transition: opacity .2s;
        position: absolute;
        width: 100%;
        border-radius: 10px;
      }
      
      .on {
        opacity: 1;
      }
      
      #prev-button, #next-button {
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      
      #prev-button img, #next-button img {
        width: 100%;
        height: 100%;
      }
      
      
    
    main{
        padding-top: 50px;
        padding-left: 50px;
    }
    
    
    
    .itens{
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .item_espec{
        display: flex;
        flex-direction: column;
    }
    
    #newsletter{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    
    #titulo_news{
        width: 400px;
    }
    
    #newsletter input{
        width: 300px;
        margin-left: 20px;
        height: 50px;
    }
    
    #newsletter button{
        width: 100px;
        height: 50px;
    }

    
}
